@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500&family=Prata&display=swap');

body {
    margin: 0;
    padding: 0;
 }

html, body {
    overflow-x:visible;
    width: 100%;
}

/*------------------------------------------------- Colors -------------------------------------------------*/

.nav-lp-bg-color {
    background-color: #fcfcfc;
    backdrop-filter: blur(5px);
}

.navbar-light .navbar-nav .nav-link {
    color: #696969;
}

footer .list-inline-item a .facebook {
    background-color: #3A5A99;
}

footer .list-inline-item a .facebook:hover {
    background-color: #fcfcfc;
    color: #3A5A99;
}

footer .list-inline-item a .instagram {
    background-color: #D50060;
}

footer .list-inline-item a .instagram:hover {
    background-color: #fcfcfc;
    color: #D50060;
}

footer .list-inline-item a .pinterest {
    background-color: #BD081C;
}

footer .list-inline-item a .pinterest:hover {
    background-color: #fcfcfc;
    color: #BD081C;
}

footer .list-inline-item a .twitter {
    background-color: #55ACEE;
}

footer .list-inline-item a .twitter:hover {
    background-color: #fcfcfc;
    color: #55ACEE;
}

footer .list-inline-item a .reddit {
    background-color: #FF4500;
}

footer .list-inline-item a .reddit:hover {
    background-color: #fcfcfc;
    color: #FF4500;
}

/*------------------------------------------------- General - All pages -------------------------------------------------*/

.uppercase {
    text-transform: uppercase;
}

/*-- Header --*/

.logo {
    width: 70px;
    height: 70px;
}

.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1;
    padding: 0 20%;
}

.navbar-toggler {
    position: fixed;
    right: 20%;
}

.navbar-brand {
    position: fixed;
    left: 20%;
}

.navbar-brand-dark-general {
    display: block;
}

.nav-item {
    padding-left: 40px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: right;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fcfcfc;
    background-color: #31AED5;
    border-radius: 50px;
}

/*-- Footer --*/

footer {
    width: 100%;
    min-height: 500px;
    background-color: #000;
    padding: 100px 0;
    position: absolute;
    
}

.column-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 30px;
}

.footer-column-divider {
    display: none;
}

/* Logo */

.footer-logo {
    width: 100%;
    min-height: 170px;
}

.footer-logo-img {
    width: 70px;
    height: 70px;
}

/* /Logo */
/* Text-Links */

.footer-text-links {
    margin-bottom: 100px;
}

.column-list {
    list-style: none;
    padding: 0;
}

.column-links {
    margin-top: 20px;
}

.column-links a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #fcfcfc;
}

.column-links a:hover {
    text-decoration: underline;
}


/* /Text-Links */
/* Social Media Icons */

.social-media {
    min-height: 100px;
    width: 100%;
}

footer .list-inline-item a i {
    font-size: 28px;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    color: #fcfcfc;
}

footer .list-inline-item a {
    color: #fcfcfc;
}

/* /Social Media Icons */

/*-- /Footer --*/

/*------------------------------------------------- Index.html -------------------------------------------------*/

/*-- Header Landing Page --*/

.nav-lp-bg-color-index {
    background-color: rgba(217, 217, 217, .5);
    backdrop-filter: blur(5px);
}

.navbar-brand-dark {
    display: none;
}

#index .navbar-light .navbar-nav .nav-link {
    color: #fcfcfc;
    background: none;
}

#index .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fcfcfc;
}

/*-- /Header Page --*/

/*-- Landing Page --*/

.lp-bg-image {
    background: url("../images/landing-page-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    z-index: -1;
    
}

.ethos-bg {
    background-color: #fcfcfc;
    background-position: center;
    background-size: cover;
    min-height: 350px;
    border: 1px solid #a6a6a6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
}

.ethos-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 56px;
    text-align: center;
    color: #9b9393;
    margin: 60px 0;
}

.sign-up-btn {
    width: 6em;
    background-color: #31AED5;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 32px; 
    color: #fcfcfc;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.15);

}

.sign-up-btn:hover {
    color: #fcfcfc;
}

/*-- /Landing Page --*/
/*-- Footer--*/

.footer-column-divider {
    display: none;
}

/*-- /Footer--*/

/*------------------------------------------------- Discover.html -------------------------------------------------*/

.nav-bg {
    height: 100px;
    width: 100%;
}

.section-hr {
    border: 1px solid #D7D5D5;
    margin: 0;
}

.form-inline {
    display: block;
    position: relative;
    left: 20%;
    width: 40%;
}

nav .form-control {
    min-width: 80%;
    background-color: #cccccc;
    color: #696969;
    border: 1px solid rgba(183, 183, 183, 0.6);
    font-family: "Montserrat", sans-serif;
}

nav .form-control:focus {
    color: #696969;
    background-color: #cccccc;
}

.btn-bg {
    color: #cccccc;
    font-size: 22px;
}

.btn-bg:hover {
    color: #696969;
}

.banner-bg {
    height: 350px;
    width: 100%;
}

.banner {
    height: 200px;
    width: 80%;
    position: relative;
    top: 75px;
    left: 10%;
    background: url("../images/discover-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;

}

.banner-header-bg {
    height: 100px;
    width: 90%;
    position: relative;
    top: 50px;
    left: 5%;
    background-color: black;
    padding: 18px;
}

.banner-header {
    font-family: "Prata", sans-serif;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 2px;
    color: #fcfcfc;
    margin: 0;
}

.content-body {
    width: 100%;
    height: min-content;
    background-color: #fff;
    padding: 5% 10%
}

.card-columns {
    column-count: 4;
    display: inline-block;
  }

.card-img-top {
    height: 100%;
    width: 100%;
    image-resolution: 1dpi;
}

/*------------------------------------------------- Join.html -------------------------------------------------*/

.join-main-bg {
    background: url("../images/join-bg.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    z-index: -1;
}

.signup-form {
    position: absolute;
    width: 33%;
    height: 500px;
    top: 350px;
    left: 33%;
    padding: 25px;
    background: rgba(67, 67, 67, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

#join-form-header {
    margin-bottom: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    color: #fcfcfc;
    border-bottom: 1px solid #fcfcfc;
    padding-bottom: 5px;
    text-shadow: 2px 2px 5px rgb(50, 50, 50);
    }

section .form-control {
    background-color: transparent;
    color: #B7B7B7;
    border: 1px solid rgba(183, 183, 183, 0.6);
    font-family: "Montserrat", sans-serif;
}

section .form-control:focus {
    color: #fcfcfc;
    background-color: transparent;
}

.form-control::placeholder {
    color: #d8d8d8;
}

.form-group {
    margin-bottom: 15px;
}

.radio-text {
    color: #B7B7B7;
}

.join-button{
    display: block;
    margin: 40px auto;
    width: 40%;
    background-color: #31AED5;
    border: 1px solid #31AED5;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 26px; 
    color: #fcfcfc;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.15);

}

.join-button:hover {
    color: #fcfcfc;
    background-color: #31AED5;
}

/*------------------------------------------------- Different Screen Resolutions -------------------------------------------------*/

@media screen and (max-width: 1420px) {

/*------------------------------------------------- Discover.html -------------------------------------------------*/

    .card-columns {
        column-count: 3;
        display: inline-block;
     }

/*------------------------------------------------- Join.html -------------------------------------------------*/ 
    .signup-form {
        width: 40%;
        left: 30%;
    }

}

@media screen and (max-width: 1200px) {

 /*------------------------------------------------- Join.html -------------------------------------------------*/    
    .signup-form {
        width: 50%;
        left: 25%; 
    }
}

@media screen and (max-width: 992px) {

/*------------------------------------------------- General - All pages -------------------------------------------------*/
    
    .navbar-toggler {
        right: 10%;
    }

    .navbar-brand {
        left: 10%;
    }

/*------------------------------------------------- Discover.html -------------------------------------------------*/

    .card-columns {
        column-count: 2;
        display: inline-block;
     }


/*------------------------------------------------- Join.html -------------------------------------------------*/

    .join-main-bg {
        min-height: 800px;
    }

    .signup-form {
        width: 60%;
        left: 20%;
        top: 250px;
    }

}

@media screen and (max-width: 767px) {

/*------------------------------------------------- General - All pages -------------------------------------------------*/
    
    .column {
        margin-top: 10px;
    }

    .navbar-brand-light {
    display: none;
    }

    .navbar-brand-dark {
    display: block;
    }

    .navbar-nav {
        position: fixed;
        width: 170px;
        min-height: 170px;
        right: 2%;
        margin-top: 50px;
        background-color: #fcfcfc;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 2em;
        text-align: center;
        line-height: 2em;
    }

    .nav-item {
        padding-left: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #000;
        text-decoration: underline;
    }

/*------------------------------------------------- Index.html -------------------------------------------------*/

    .lp-bg {
        min-height: 600px;
    }


    .ethos-bg {
        min-height: 250px;
    }   

    .ethos-text {
        font-size: 35px;
        margin: 40px 0;
    }

    .sign-up-btn {
        width: 6em;
        border-radius: 50px;
        font-weight: 400;
        font-size: 28px; 
    }

    .nav-lp-bg-color-index {
        background-color: #fcfcfc;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }

/*------------------------------------------------- Join.html -------------------------------------------------*/

    .join-main-bg {
        min-height: 800px;
    }

    .signup-form {
        width: 70%;
        left: 15%
    }
    
    #join-form-header {
    font-size: 24px;
    }

}

@media screen and (max-width: 575px) {

/*------------------------------------------------- General - All pages -------------------------------------------------*/


    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #505050;
        background: none;
        text-decoration: none;
    }
/*------------------------------------------------- Index.html -------------------------------------------------*/

    .footer-column-divider {
        display: block;
        border: 1px solid #292929;
        width: 60%;
    }

    #index .navbar-light .navbar-nav .nav-link {
    color: #505050;
    background: none;
    }

    #index .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #b9b9b9;
    }


/*------------------------------------------------- Discover.html -------------------------------------------------*/

    .card-columns {
        column-count: 1;
        display: inline-block;
     }

/*------------------------------------------------- Join.html -------------------------------------------------*/

    .signup-form {
        width: 85%;
        height: 525px;
        top: 250px;
        left: 7.5%;
        padding:15px;
    }

    .form-check-inline {
        margin-right: .5rem;
    }

    .join-button{
        display: block;
        margin: 40px auto;
        width: 50%;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 26px; 

    }

}
