@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
 }

html, body {
    overflow-x:hidden;
}

/*------------------------------------------------- Colors -------------------------------------------------*/

.nav-lp-bg-color {
    background-color: #fcfcfc;
    backdrop-filter: blur(5px);
}

.navbar-light .navbar-nav .nav-link {
    color: #696969;
}

footer .list-inline-item a .facebook {
    background-color: #3A5A99;
}

footer .list-inline-item a .facebook:hover {
    background-color: #fcfcfc;
    color: #3A5A99;
}

footer .list-inline-item a .instagram {
    background-color: #D50060;
}

footer .list-inline-item a .instagram:hover {
    background-color: #fcfcfc;
    color: #D50060;
}

footer .list-inline-item a .pinterest {
    background-color: #BD081C;
}

footer .list-inline-item a .pinterest:hover {
    background-color: #fcfcfc;
    color: #BD081C;
}

footer .list-inline-item a .twitter {
    background-color: #55ACEE;
}

footer .list-inline-item a .twitter:hover {
    background-color: #fcfcfc;
    color: #55ACEE;
}

footer .list-inline-item a .reddit {
    background-color: #FF4500;
}

footer .list-inline-item a .reddit:hover {
    background-color: #fcfcfc;
    color: #FF4500;
}

/*------------------------------------------------- General - All pages -------------------------------------------------*/

.uppercase {
    text-transform: uppercase;
}

/*-- Header --*/

.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1;
    padding: 0 20%;
}

.navbar-toggler {
    position: fixed;
    right: 20%;
}

.navbar-brand {
    position: fixed;
    left: 20%;
}

.navbar-brand-dark-general {
    display: block;
}

.nav-item {
    padding-left: 40px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: right;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fcfcfc;
    background: url("../images/nav-item-bg.jpg");
    border-radius: 5px;
    background-position: center;
}

/*-- Footer --*/

footer {
    width: 100%;
    min-height: 500px;
    background-color: #000;
    padding: 100px 0;
    position: absolute;
    
}

.column-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 30px;
}

.footer-column-divider {
    display: none;
}

/* Logo */

.footer-logo {
    width: 100%;
    min-height: 170px;
}

.footer-logo-img {
    width: 70px;
    height: 70px;
}

/* /Logo */
/* Text-Links */

.footer-text-links {
    margin-bottom: 100px;
}

.column-list {
    list-style: none;
    padding: 0;
}

.column-links {
    margin-top: 20px;
}

.column-links a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #fcfcfc;
}

.column-links a:hover {
    text-decoration: underline;
}


/* /Text-Links */
/* Social Media Icons */

.social-media {
    min-height: 100px;
    width: 100%;
}

footer .list-inline-item a i {
    font-size: 28px;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    color: #fcfcfc;
}

footer .list-inline-item a {
    color: #fcfcfc;
}

/* /Social Media Icons */

/*-- /Footer --*/

/*------------------------------------------------- Index.html -------------------------------------------------*/

/*-- Header Landing Page --*/

.nav-lp-bg-color-index {
    background-color: rgba(217, 217, 217, .5);
    backdrop-filter: blur(5px);
}

.navbar-brand-dark {
    display: none;
}

#index .navbar-light .navbar-nav .nav-link {
    color: #fcfcfc;
    background: none;
}

#index .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fcfcfc;
}

/*-- /Header Page --*/

/*-- Landing Page --*/

.lp-bg-image {
    background: url("../images/landing-page-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    z-index: -1;
    
}

.ethos-bg {
    background-color: #fcfcfc;
    background-position: center;
    background-size: cover;
    min-height: 350px;
    border: 1px solid #a6a6a6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
}

.ethos-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 56px;
    text-align: center;
    color: #9b9393;
    margin: 60px 0;
}

.sign-up-btn {
    width: 6em;
    background-color: #31AED5;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px; 
    color: #fcfcfc;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.15);

}

.sign-up-btn:hover {
    color: #fcfcfc;
}

/*-- /Landing Page --*/
/*-- Footer--*/

.footer-column-divider {
    display: none;
}

/*-- /Footer--*/

/*------------------------------------------------- Discover.html -------------------------------------------------*/

.nav-bg {
    height: 100px;
    width: 100%;
}

.banner-bg {
    height: 400px;
    width: 100%;
}

.section-hr {
    border: 1px solid #D7D5D5;
    margin: 0;
}

/*------------------------------------------------- Join.html -------------------------------------------------*/

.join-main-bg {
    background: url("../images/join-bg.jpg");
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1300px;
    z-index: -1;
}

.signup-form {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 350px;
}

/*------------------------------------------------- Different Screen Resolutions -------------------------------------------------*/

@media screen and (max-width: 992px) {

/*------------------------------------------------- General - All pages -------------------------------------------------*/
    
    .navbar-toggler {
        right: 10%;
    }

    .navbar-brand {
        left: 10%;
    }
}

@media screen and (max-width: 767px) {

/*------------------------------------------------- General - All pages -------------------------------------------------*/
    
    .column {
        margin-top: 10px;
    }

    .navbar-brand-light {
    display: none;
    }

    .navbar-brand-dark {
    display: block;
    }

    .navbar-nav {
        position: fixed;
        width: 170px;
        min-height: 170px;
        right: 2%;
        margin-top: 50px;
        background-color: #fcfcfc;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 2em;
        text-align: center;
        line-height: 2em;
    }

    .nav-item {
        padding-left: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #000;
        text-decoration: underline;
    }

/*------------------------------------------------- /General - All pages -------------------------------------------------*/

/*------------------------------------------------- Index.html -------------------------------------------------*/

    .lp-bg {
        min-height: 600px;
    }


    .ethos-bg {
        min-height: 250px;
    }   

    .ethos-text {
        font-size: 35px;
        margin: 40px 0;
    }

    .sign-up-btn {
        width: 6em;
        border-radius: 50px;
        font-weight: 400;
        font-size: 28px; 
    }

    .nav-lp-bg-color-index {
        background-color: #fcfcfc;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }

}

@media screen and (max-width: 575px) {

/*------------------------------------------------- Index.html -------------------------------------------------*/

    .footer-column-divider {
        display: block;
        border: 1px solid #292929;
        width: 60%;
    }